*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.input_data {
    margin-bottom: 25px;
}

.input_data input {
    padding: 10px 18px;
    border: 2px solid gray;
    border-radius: 15px;
    margin-right: 5px;
    outline: none;
}

select {
    padding: 10px 18px;
    border: 2px solid gray;
    border-radius: 15px;
    margin-right: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: rgb(147, 176, 201);
    margin-bottom: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(111, 160, 202);
}


.form_container {
    text-align: center;
    padding: 30px 20px;
    background-color: rgba(147, 176, 201, 0.5);
    border: 3px solid rgba(147, 176, 201, 0.9);
    border-radius: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px 0 25px 0;
}

.formError {
    color: red;
    text-align: left !important;
}

.form input{
    padding: 10px 18px;
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 8px;
    outline: none;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    border: 3px solid rgba(147, 176, 201, 1);
    min-width: 250px;
    min-height: 100px;
    background-color:rgba(147, 176, 201, 0.5);
}

.main_card {

}

.info_card {

}

.card span {
    font-size: 35px;
    font-weight: bold;
}

.info_cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(147,176,201,0.6);
}

.container {
    width: 90%;
    margin:auto;
}

.input_data form {
    display: flex;
    flex-wrap: nowrap;
   
}

.action {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

}

footer {
    text-align: center;
    background-color: cornflowerblue;
    height: 40px;
    margin-top: 150px;
}

@media (max-width:568px){
   .info_cards {
       flex-direction: column;
   }
   .info_cards div {
    margin-bottom: 10px;
}

   .input_data form {
       flex-direction: column;
   }
   .input_data form input {
       margin-bottom: 8px;
   }
}

   @media (min-width:569px) and (max-width: 1000px) {
    .input_data form input {
        width: 102px;
        font-size: 12px;
        padding: 3px 5px;
    }
    .input_data form select {
        width: 102px;
        font-size: 12px;
        padding: 3px 5px;
    }

   }



